<link rel="preconnect" th:href="https://rsms.me/">
<link rel="stylesheet" th:href="https://rsms.me/inter/inter.css">
<style>
#video_wrapper {
    margin:0px;
    padding:0px;
}
#video_wrapper video {
    position: absolute;
    top: 50%; left: 50%;
    z-index: -99;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
} 


table { background: rgba(0,0,0,0.2); }
tr { background: rgba(0,0,0,0.2); }
td { background: rgba(0,0,0,0.2); }

.button {
    display: inline-block;
    border-radius: 30px; padding: 5px 35px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}


.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
opacity: 1;
right: 0;
}

:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}
</style>

<table style="width:80%; margin-top: 5%; margin-left: 2%;">
            <tr>
                <th><a class="nav-link" th:href="/"><button class="button" style="vertical-align:middle"><span>Home</span></button></a></th>
                <th><a class="nav-link" th:href="/players"><button class="button" style="vertical-align:middle"><span>Players</span></button></a></th>
                <th><a class="nav-link" th:href="/standings"><button class="button" style="vertical-align:middle"><span>Standings</span></button></a></th>
                <th><a class="nav-link" th:href="/league"><button class="button" style="vertical-align:middle"><span>League</span></button></a></th>
                <th><a class="nav-link" th:href="/facts"><button class="button" style="vertical-align:middle"><span>Facts</span></button></a></th>
                <th><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></th>
                <th><div id="digital-clock"></div></th>
                <th><input style=" border-radius: 30px;" id="search" type="search" placeholder="Search" aria-label="Search"></th>
            </tr>
</table>

            <!-- Navigation bar JavaScript support -->
            <script>
                const search = document.getElementById('search');
                const google = 'https://www.google.com/search?q=site%3A+';
                const site = 'https://nighthawkcodingsociety.com';

                function submitted(event) {
                    if (event.key === 'Enter') {
                        // calculations to determine new window size at 66% of existing
                        const reduction = 0.66;  // reduce by 66%
                        const w = Math.trunc(window.innerWidth*reduction);
                        const h = Math.trunc(window.outerHeight*reduction);
                        const l = Math.trunc(window.top.screenX + ((window.innerWidth - w)/2));
                        const t = Math.trunc(window.top.screenY + ((window.outerHeight - h)/2));
                        const left = "left=" + l;
                        const top = "top=" + t;
                        const width = "width=" + w;
                        const height = "height=" + h;
                        const location = left + ", " + top + ", " + width + ", " + height

                        // setup and display window
                        event.preventDefault();
                        const url = google
                            + site
                            + '+'
                            + search.value;
                        const win = window.open(url, "CompSci A Search", location);
                        win.focus();
                    }
                }
                search.addEventListener('keypress', submitted);

            </script>

<script src="/football-pages/assets/js/videojava.js" type="text/javascript"></script>
