<div id="light">
  <a class="boxclose" id="boxclose" onclick="lightbox_close();"></a>
  <video id="VisaChipCardVideo" width="600" controls>
      <source src="https://drive.google.com/uc?export=view&id=1vvBV8K9HmN1RPdEbVXqyHoq_UHtROEAW" type="video/mp4">
      <!--Browser does not support <video> tag -->
    </video>
</div>
<div id="fade" onClick="lightbox_close();"></div>
<table>
            <tr>
                <td><a class="nav-link" href="/football-pages/"><button class="button" style="vertical-align:middle"><span>Home</span></button></a></td>
                <td><div><a href="#" onclick="lightbox_open();"><button class="button" style="vertical-align:middle"><span>Football Rule</span></button></a></div></td>
                <td><div id="digital-clock"></div></td>
                <td><input style=" border-radius: 30px;" id="search" type="search" placeholder="Search" aria-label="Search"></td>
                <td><div class="form-check form-switch"><input type="checkbox" onclick='show(1);'></div></td>
            </tr>
</table>

            <!-- Navigation bar JavaScript support -->
            <script>
                const search = document.getElementById('search');
                const google = 'https://www.google.com/search?q=site%3A+';
                const site = 'https://aaditgupta21.github.io/football-pages';

                function submitted(event) {
                    if (event.key === 'Enter') {
                        // calculations to determine new window size at 66% of existing
                        const reduction = 0.66;  // reduce by 66%
                        const w = Math.trunc(window.innerWidth*reduction);
                        const h = Math.trunc(window.outerHeight*reduction);
                        const l = Math.trunc(window.top.screenX + ((window.innerWidth - w)/2));
                        const t = Math.trunc(window.top.screenY + ((window.outerHeight - h)/2));
                        const left = "left=" + l;
                        const top = "top=" + t;
                        const width = "width=" + w;
                        const height = "height=" + h;
                        const location = left + ", " + top + ", " + width + ", " + height

                        // setup and display window
                        event.preventDefault();
                        const url = google
                            + site
                            + '+'
                            + search.value;
                        const win = window.open(url, "CompSci A Search", location);
                        win.focus();
                    }
                }
                search.addEventListener('keypress', submitted);

            </script>
